<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ ecommerce.name }}</title>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootswatch/4.5.0/{{ecommerce.theme.toLowerCase()}}/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>